# Variáveis ​​de ambiente para a API do The Movie Database (TMDB)
TMDB_API_KEY="YOUR_TMDB_API_KEY"

# O TMDB_API_ACCESS_TOKEN é um token JWT usado para autenticação na API do TMDB. Ele permite acessar os endpoints da API que exigem autenticação do usuário.
TMDB_API_ACCESS_TOKEN="YOUR_TMDB_API_ACCESS_TOKEN"

# A TMDB_BASE_URL é a URL base para os endpoints da API do TMDB. Ela é usada para construir a URL completa para as requisições à API.
TMDB_BASE_URL="https://api.themoviedb.org/3"

# A TMDB_IMAGE_BASE é a URL base para acessar imagens da API do TMDB. Ela é usada para construir a URL completa para as requisições de imagem.
TMDB_IMAGE_BASE="https://image.tmdb.org/t/p"